<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>D&D</title>
</head>
<body>
    <h1>Dungeons & Dragons</h1>
    <section>
      <h2><%= char.name %></h2>
      <h3>Stats:</h3>
      <ul class="stats">
        <% for (stat in char) {%>
          <li class="stat">
              <span><%= stat %> <%=char[stat]%></span>
              <% if (typeof char[stat] == 'object') { %>
              <% for (substat in char[stat]) {%>
                <span><%=substat %></span>
                <% } }%>
              </li> <% } %>
              
     </section>
    <script src="/main.js"></script>
</body>

</html>