<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Quotes</title>
</head>
<body>
    <h3>Quoteman</h3>
    <div>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
      </form>
    <ul class="quotes">
      <% quotes.forEach((quote) => {%>
        <li class="quote">
            <span><%= quote.name %></span>
            <span><%= quote.quote %></span>
        </li>
     <% }) %>
    </ul>
    </div>
    <div>
        <h2>Vader Invader</h2>
        <p>Replace Yoda's first quote with a Vader quote</p>
        <button id="update-button">Pwn Yoda</button>
    </div>
    <div>
        <h2>Remove Darth Vader!</h2>
        <p>
          Delete one Darth Vader's quote. Does nothing if there are no more Vaders
        </p>
        <button id="delete-button">Delete Darth Vader's quote</button>
      </div>
    <script src="/main.js"></script>
</body>

</html>